<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Главная</title>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amwal Company History</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=devanagari,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/IcoMoon/icomoon.css">
    <link rel="stylesheet" href="/static/fonts/linearicon/style.css">
    <link type="text/css" rel="stylesheet" href="/static/css/jquery.mmenu.all.css" />
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fancySelect.css" media="screen" />
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="http://placehold.it/32x32/ccc.jpg">
</head>
<body>
    <div id="page">
        <header class="header-h2">
            <div class="topbar tb-dark tb-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="topbar-home2">
                                <div class="tb-contact tb-iconbox">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span><i>Главный офис</i> ул.Тамбовская, 5, стр 12, оф 7, Красноярск</span></a></li>
                                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span><i>Email адрес</i> dauria.krsk@gmail.com</span></a></li>
                                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span><i>Теллефон</i> +7 923 348 05 11</span></a></li>
                                    </ul>
                                </div>
                                <div class="tb-social-lan language">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="google plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nav-warp nav-warp-h2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navi-warp-home-2">
                                <a style="padding-top:0.6vw;" href="index.html" class="logo"><h4>COMPANY DAURIA</h4></a>
                                <nav>
                                    <ul style="margin-left:-45vw;" class="navi-level-1 active-subcolor">
                                        <li>
                                            <a href="index.html">Главная</a>
                                        </li>
                                        <li>
                                            <a href="about.html">О компании</a>
                                        </li>
                                        <li>
                                            <a href="news.html">Новости</a>
                                        </li>
                                        <li>
                                            <a href="team.html">Руководство</a>
                                        </li>
                                        <li>
                                            <a href="comment.html">Отзывы</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Контактные данные</a>
                                        </li>
                                    </ul>
                                </nav>
                                <a href="#menu" class="btn-menu-mobile"><i class="fa fa-bars" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section style="background: url(/static/images/bg-content/bg_1.jpg) no-repeat; background-size: cover;
    background-attachment: fixed;" class="sh-company-history">
            <div style="padding-bottom:26.5vw;" class="sub-header ">
                <span>КОМПАНИЯ ГРУЗОПЕРЕВОЗОК</span>
                <h3 style="padding-top:2vw">OОO «DAURIA»</h3>
                <span>
                    Имеет множество филиалов по всей России и предоставляет улуги по грузоперевозком на
                </span>
                <br />
                <span>
                    любые расстрояния, доступно и в срок, ознакомтись с деятельностью наше компании подробнее
                </span>
                <ol class="breadcrumb"></ol>

                <a href="#" style="background: #feb621;margin-top: 1.4vw " class="ot-btn btn-main-color">
                    <i class="fa" aria-hidden="true"></i>
                    Деятельность
                </a>

                <ol style="margin-top: 1.4vw " class="breadcrumb">
                    <li>
                        <a href="#"><i class="fa fa-home"></i>Главная     </a>
                    </li>
                </ol>

            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="whyus-warp-h2 whyus-about">
                        <div class="col-md-6">
                            <div class="left-whyus-h2">
                                <div class="demo-style-1-warp">
                                    <img src="/static/images/bg-content/bg-2.jpg" class="img-responsive" alt="Image">
                                    <div style="background: #222222;" class="demo-style-1-box-text right">
                                        <p>Быстро,</p>
                                        <p>Надежно,</p>
                                        <p>Доступно.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-whyus-h2">
                                <div class="iconbox-warp ">
                                    <h3 class="title-mix"><strong> Коротко о компании</strong></h3>
                                    <p class="demo-sub-about-text-2">DAURIA российская федеральная транспортно-экспедиторская компания, осуществляющая доставку сборных грузов по всей России широкому кругу клиентов от физических лиц до крупнейших предприятий.</p>
                                    <h4><strong>Год основания компании:</strong></h4>
                                    <p>2014</p>
                                    <h4><strong>Осуществляем работу</strong></h4>
                                    <p>По всем городам России</p>
                                    <h4><strong>Филиалы</strong></h4>
                                    <p>Красноярск, Краснодар</p>
                                    <a href="about.html" style="background: #222222;" class="ot-btn btn-main-color">
                                        <i class="fa" aria-hidden="true"></i>
                                        Подробнее
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-light-grey">
            <div class="container">
                <div class="row">
                    <form class="form-contact-warp form-apply-job cb-form">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="title-block title-contact">
                                <h3>Посчитать стоимость доставки</h3>
                                <span class="bottom-title"></span>
                            </div>
                            <input class="form-control" value="" id="input_1" required="required" title="" placeholder="Общий вес, кг" type="text">
                            <input class="form-control" value="" id="input_2" required="required" title="" placeholder="Общий объем, м3" type="text">
                            <input class="form-control" value="" id="input_3" required="required" title="" placeholder="Макс. габарит, м" type="text">
                            <input class="form-control" value="" id="input_4" required="required" title="" placeholder="Дальность доставки, км" type="text">
                            <div class="title-block title-contact">
                                <h3>Результат</h3>
                                <span class="bottom-title"></span>
                            </div>
                            <input class="form-control" disabled value="" id="input_fin" title="" placeholder="Итог" type="text">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-4">
                                <button type="button" onclick="onclickButton()" class="btn-sub-color btn-apply">Посчитать</button>
                            </div>
                        </div>
                    </form>

                    <script>
                        var fine_value = document.getElementById('input_fin');
                        function onclickButton() {
                            if (document.getElementById('input_1').value == "") {
                                alert("Заполните все поля");
                                return
                            }
                            if (document.getElementById('input_2').value == "") {
                                alert("Заполните все поля");
                                return
                            }
                            if (document.getElementById('input_3').value == "") {
                                alert("Заполните все поля");
                                return
                            }
                            if (document.getElementById('input_4').value == "") {
                                alert("Заполните все поля");
                                return
                            }
                                var for_mass = parseInt(document.getElementById('input_1').value) * 4 + parseInt(document.getElementById('input_2').value) * 4 + parseInt(document.getElementById('input_3').value * 4 + parseInt(document.getElementById('input_4').value) * 2.5);
                                fine_value.value = for_mass + "р";
                        }
                    </script>

                </div>
            </div>
        </section>

        <section style="background: url(/static/images/bg-content/tekstury-fon-3110.jpg) no-repeat; background-size:cover;
    background-attachment: fixed;" class="bg-quote-h3">
            <div class="quote-inner quote-inner-h3">
                <p>На нашем сайте можно ознакомится с полседними <span> новостями</span> компании</p>
                <a href="news.html" class="ot-btn btn-border-dark-color">Перейти</a>
            </div>
        </section>

        <section class="bg-about-home-7">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-block  text-center">
                            <span class="top-title"></span>
                            <h2>Наши партнеры</h2>
                            <p class="sub-title">За время работы наша компания обзавелась различными партнерами</p>
                            <span class="bottom-title"></span>
                        </div>
                        <div style="color: #9ea09b" class="about-warp-h7">
                            <br /><br />
                            <div class="col-md-4 col-sm-6">
                                <div class="item-about-h7">
                                    <img src="/static/images/bg-content/pa-2.jpg" class="img-responsive" alt="Image">
                                    <div class="about-h7-info">
                                        <br />
                                        <p>Транспортная компания «Возовоз» - российская федеральная компания по перевозке сборных грузов. Имеет ряд удобных опций для того, чтобы можно было оформить заявку максимально просто и быстро.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="item-about-h7">
                                    <img src="/static/images/bg-content/pa-1.jpg" class="img-responsive" alt="Image">
                                    <div class="about-h7-info">
                                        <br />
                                        <p>ПАО «Полюс» — крупнейший производитель золота в России и одна из 10 ведущих глобальных золотодобывающих компаний, себестоимость производства на предприятиях которой является одной из самых низких в мире.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="item-about-h7">
                                    <img src="/static/images/bg-content/pa-3.jpg" class="img-responsive" alt="Image">
                                    <div class="about-h7-info">
                                        <br />
                                        <p>ЛУКОЙЛ — одна из крупнейших публичных вертикально интегрированных нефтегазовых компаний в мире, на долю которой приходится более 2% мировой добычи нефти и около 1% доказанных запасов углеводородов.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section style="background: url(/static/images/bg-content/bg-bottom.jpg) no-repeat; background-size:cover;
        background-attachment: fixed;" class="bg-subcr-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="subcribe-warp">
                            <p class="sub-text-subcri">Оставьте свои данные </p>
                            <form class="form-inline form-subcri">
                                <div class="form-group">
                                    <label for="exampleInputName2"><small>И мы <span> свяжемся</span> с вами</small></label>
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Ваш E-mail адрес">
                                </div>
                                <button type="submit" class="btn-subcrib"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="f-bg-dark">
            <div class="container">
                <div style="padding-left:9vw" class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-footer widget-footer-text">
                            <div class="title-block title-on-dark title-xs">
                                <h4>Наши социальные сети</h4>
                                <span class="bottom-title"></span>
                            </div>
                            <p>Там появляется вся свежая информация связанная с компанией, также вы можете связатся с нами через них. </p>
                            <ul class="widget widget-footer widget-footer-social-1">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-footer widget-footer-icon-link">
                            <div class="title-block title-on-dark title-xs">
                                <h4>Главный офис</h4>
                                <span class="bottom-title"></span>
                            </div>

                            <ul class="icon-link-list-icon">
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>ул.Тамбовская, 5, стр 12, оф 7, Красноярск
                                </li>
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="#">dauria.krsk@gmail.com</a></li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i><a href="№">+7 923 348 05 11</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-footer widget-footer-img">
                            <div class="title-block title-on-dark title-xs">
                                <h4>ИНН</h4>
                                <h4>КПК</h4>
                                <span class="bottom-title"></span>
                            </div>

                            <ul class="icon-link-list-icon">
                                <li>
                                    <i class="fa" aria-hidden="true"></i>2465240150
                                </li>
                                <li>
                                    <i class="fa" aria-hidden="true"></i>246501001
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <section class="no-padding cr-h1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-warp cr-1">
                            <div class="copyright-list-link">
                                <ul>
                                    <li>
                                        <a href="index.html">Главная</a>
                                    </li>
                                    <li>
                                        <a href="about.html">О компании</a>
                                    </li>
                                    <li>
                                        <a href="news.html">Новости</a>
                                    </li>
                                    <li>
                                        <a href="team">Руководство</a>
                                    </li>
                                    <li>
                                        <a href="comment.html">Отзывы</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Контактные данные</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="copyright-text">
                                <p>© 2019  Powered By Kristina Orlova</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </body>
    </html>
