<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Руководство</title>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amwal Company History</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=devanagari,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/IcoMoon/icomoon.css">
    <link rel="stylesheet" href="/static/fonts/linearicon/style.css">
    <link type="text/css" rel="stylesheet" href="/static/css/jquery.mmenu.all.css" />
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fancySelect.css" media="screen" />
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="http://placehold.it/32x32/ccc.jpg">
</head>
<body>
    <div id="page">
        <header class="header-h2">
            <div class="topbar tb-dark tb-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="topbar-home2">
                                <div class="tb-contact tb-iconbox">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span><i>Главный офис</i> ул.Тамбовская, 5, стр 12, оф 7, Красноярск</span></a></li>
                                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span><i>Email адрес</i> dauria.krsk@gmail.com</span></a></li>
                                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span><i>Теллефон</i> +7 923 348 05 11</span></a></li>
                                    </ul>
                                </div>
                                <div class="tb-social-lan language">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="google plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-warp nav-warp-h2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navi-warp-home-2">
                                <a style="padding-top:0.6vw;" href="index.html" class="logo"><h4>COMPANY DAURIA</h4></a>
                                <nav>
                                    <ul style="margin-left:-45vw;" class="navi-level-1 active-subcolor">
                                        <li>
                                            <a href="index.html">Главная</a>
                                        </li>
                                        <li>
                                            <a href="about.html">О компании</a>
                                        </li>
                                        <li>
                                            <a href="news.html">Новости</a>
                                        </li>
                                        <li>
                                            <a href="1news.html">Руководство</a>
                                        </li>
                                        <li>
                                            <a href="comment.html">Отзывы</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Контактные данные</a>
                                        </li>
                                    </ul>
                                </nav>
                                <a href="#menu" class="btn-menu-mobile"><i class="fa fa-bars" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div style="padding-top:70px" class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-block text-center">
                        <span class="top-title "></span>
                        <h2>Глава компании</h2>
                        <p class="sub-title">Руководитель компании «Dauria» </p>
                        <span class="bottom-title"></span>
                    </div>
                </div>
            </div>
        </div>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <div class="main-page">
                            <div class="about-founder">
                                <div class="box-img-left">
                                    <div class="feature">
                                        <img src="/static/images/bg-content/755369096843768.jpg" class="img-responsive " alt="Image">
                                    </div>
                                    <div class="boxcontent">
                                        <h4>Гриценко Юрий Валентинович</h4>
                                        <p>
                                            Участник Рейтинга Генеральных Директоров Юрий Гриценко занимает место №644 в отрасли «Услуги перевозки» по по состоянию на 02 июня 2019 года.
                                            <br /> <br />
                                            Благодаря профессионализму Юрия Валентиновича, качественному и ответственному выполнению должностных обязанностей, целеустремленности и лидерским качествам, ООО "ДАУРИЯ" достигло значительных успехов и заняло достойные позиции на рынке услуг перевозки.
                                        </p>

                                        <ul>
                                            <li>
                                                Основной вид деятельности: Деятельность автомобильного грузового транспорта;
                                            </li>
                                            <li>
                                                ИНН: 2462059228;
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </section>

        <br />

        <footer class="f-bg-dark">
            <div class="container">
                <div style="padding-left:9vw" class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-footer widget-footer-text">
                            <div class="title-block title-on-dark title-xs">
                                <h4>Наши социальные сети</h4>
                                <span class="bottom-title"></span>
                            </div>
                            <p>Там появляется вся свежая информация связанная с компанией, также вы можете связатся с нами через них. </p>
                            <ul class="widget widget-footer widget-footer-social-1">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-footer widget-footer-icon-link">
                            <div class="title-block title-on-dark title-xs">
                                <h4>Главный офис</h4>
                                <span class="bottom-title"></span>
                            </div>

                            <ul class="icon-link-list-icon">
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>ул.Тамбовская, 5, стр 12, оф 7, Красноярск
                                </li>
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="#">dauria.krsk@gmail.com</a></li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i><a href="№">+7 923 348 05 11</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-footer widget-footer-img">
                            <div class="title-block title-on-dark title-xs">
                                <h4>ИНН</h4>
                                <h4>КПК</h4>
                                <span class="bottom-title"></span>
                            </div>

                            <ul class="icon-link-list-icon">
                                <li>
                                    <i class="fa" aria-hidden="true"></i>2465240150
                                </li>
                                <li>
                                    <i class="fa" aria-hidden="true"></i>246501001
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <section class="no-padding cr-h1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-warp cr-1">
                            <div class="copyright-list-link">
                                <ul>
                                    <li>
                                        <a href="index.html">Главная</a>
                                    </li>
                                    <li>
                                        <a href="company_history.html">О компании</a>
                                    </li>
                                    <li>
                                        <a href="cases.html">Новости</a>
                                    </li>
                                    <li>
                                        <a href="news.html">Руководство</a>
                                    </li>
                                    <li>
                                        <a href="comment.html">Отзывы</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Контактные данные</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="copyright-text">
                                <p>© 2019  Powered By Kristina Orlova</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
